<% include headerAdmin %>
<% include navAdmin %>

<br>

<div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-body profile bg-info">
            <div class="profile-logo">
                <img src="/images/events/logo.png" alt="WorkEvent">
                <br>
            </div>
            <div class="profile-logo"><h3>WorkEvent</h3></div>
        </div>
    </div>
</div>
<% for (var w of config) { %><tbody>

<div class="page-content-wrap">
    <div class="row">

        <div class="col-md-3">
            <div class="widget widget-info widget-padding-sm">
                <div class="widget-item-left">
                    <span class="fa fa-users"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-title">Colaboradores</div>
                    <div class="widget-subtitle">Total colaboradores</div>
                    <div class="widget-subtitle"><%= w.tcolaborador %></div>

                </div>
                <div class="widget-buttons widget-c2">
                    <div class="col">
                        <a href="/colaboradores"><span class="fa fa-book"></span></a>
                    </div>
                    <div class="col">
                        <a href="/colaboradores/create" class="trigger"><span class="fa fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget widget-info widget-padding-sm">
                <div class="widget-item-left">
                    <span class="fa fa-bullhorn"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-title">Speakers</div>
                    <div class="widget-subtitle">Total de Speakers</div>
                    <div class="widget-subtitle"><%= w.tspeaker %></div>
                </div>
                <div class="widget-buttons widget-c2">
                    <div class="col">
                        <a href="/speakers"><span class="fa fa-list-alt"></span></a>
                    </div>
                    <div class="col">
                        <a href="/speakers/create"><span class="fa fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget widget-info widget-padding-sm">
                <div class="widget-item-left">
                    <span class="glyphicon glyphicon-euro"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-title">Patrocinios</div>
                    <div class="widget-subtitle">Total angariado</div>
                    <div class="widget-subtitle"><%= w.spatrocinios %> €</div>
                </div>
                <div class="widget-buttons widget-c2">
                    <div class="col">
                        <a href="/patrocinios"><span class="fa fa-list-alt"></span></a>
                    </div>
                    <div class="col">
                        <a href="/patrocinios/create"><span class="fa fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget widget-info widget-padding-sm">
                <div class="widget-item-left">
                    <span class="fa fa-calendar"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-title">Sessoes</div>
                    <div class="widget-subtitle">Total free space</div>

                </div>
                <div class="widget-buttons widget-c2">
                    <div class="col">
                        <a href="/sessoes"><span class="fa fa-list-alt"></span></a>
                    </div>
                    <div class="col">
                        <a href="/sessoes/create"><span class="fa fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget widget-info widget-padding-sm">
                <div class="widget-item-left">
                    <span class="fa fa-ticket"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-title">Bilheteira</div>
                    <div class="widget-subtitle">Total Vendas: <%= w.tbilheteira %></div>
                    <div class="widget-subtitle">Total Caixa: <%= w.sbilheteira %></div>
                </div>
                <div class="widget-buttons widget-c3">
                    <div class="col">
                        <a href="#"><span class="fa fa-list-alt"></span></a>
                    </div>
                    <div class="col">
                        <a href="#"><span class="fa fa-info"></span></a>
                    </div>
                    <div class="col">
                        <a href="#"><span class="fa fa-edit"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget widget-info widget-padding-sm">
                <div class="widget-item-left">
                    <span class="fa fa-briefcase"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-title">Ordenados</div>
                    <div class="widget-subtitle">Edição de ordenados</div>
                </div>
                <div class="widget-buttons widget-c2">
                    <div class="center">
                        <a href="#"><span class="fa fa-group" data-toggle="tab" data-target="#ordenados"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget widget-info widget-padding-sm">
                <div class="widget-item-left">
                    <span class="fa fa-edit"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-title">Workshop</div>
                    <div class="widget-subtitle">Total free space</div>
                </div>
                <div class="widget-buttons widget-c2">
                    <div class="col">
                        <a href="#"><span class="fa fa-info"></span></a>
                    </div>
                    <div class="col">
                        <a href="#"><span class="fa fa-edit"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <% if (w.total > 0) { %>
            <div class="widget widget-info widget-padding-sm">
                <% } else { %>
                <div class="widget widget-danger widget-padding-sm">
                    <%} %>
                <div class="widget-item-left">
                    <span class="fa fa-info-circle"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-title">Balanço</div>
                    <% if (w.total > 0) { %>
                    <div class="widget-subtitle">Saldo Positivo</div>
                    <% } else { %>
                    <div class="widget-subtitle">Saldo Positivo</div>
                    <%} %>
                    <div class="widget-subtitle"><%= w.total %> €</div>
                </div>
                <div class="widget-buttons widget-c1">
                    <div class="col">
                        <a href="#" data-toggle="modal" data-target="#info"><span class="fa fa-info"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

        <% if (w.total > 0) { %>
        <div class="message-box message-box-success animated fadeIn" id="info">
            <div class="mb-container">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-thumbs-o-up"></span> Resultados Financeiros:</div>
                    <% } else { %>
            <div class="message-box message-box-danger animated fadeIn" id="info">
                <div class="mb-container">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
                    <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-thumbs-o-down"></span> Resultados Financeiros:</div>
                    <%} %>
                    <div class="mb-content">
                        <div>
                            <table style="width:100%">
                                <tr>
                                    <th>Receita de Patrocinios:</th>
                                    <td> <%= w.spatrocinios%> €</td>
                                </tr>
                                <tr>
                                    <th>Receita de Bilheteira:</th>
                                    <td><%= w.sbilheteira%> €</td>
                                </tr>
                                <tr>
                                    <th>Valor de Salarios:</th>
                                    <td><%= w.scolaboradores%> €</td>
                                </tr>
                                <tr>
                                    <th>Valor de Speakers:</th>
                                    <td><%= w.sspeakers%> €</td>
                                </tr>
                                <tr>
                                    <th> </th>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <th>Saldo do Evento:</th>
                                    <td><%= w.total%> €</td>
                                </tr>

                            </table>
                    </div>
                </div>
            </div>
        </div>
            </div>   </div>   </div>   </div>
        <% } %>

        <!-- Modal -->
        <div class="modal fade" id="ordenados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <iframe src="/user/dashboard" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    </div>

</div>

<% include footerAdmin %>
