<% include headerAdmin %>
<% include navAdmin %>

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/admin">Home</a></li>
    <li class="active">Dashboard</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <!-- START WIDGETS -->
    <div class="row">

        <div class="col-md-3">
            <% for (var w of dashboard) { %>
            <tbody>
            <!-- START WIDGET SLIDER -->
            <div class="widget widget-warning widget-carousel">
                <div class="owl-carousel" id="owl-example">
                    <div>
                        <div class="widget-title">Total de utilizadores</div>
                        <div class="widget-subtitle plugin-date">00:00</div>
                        <div class="widget-int"><%= w.tutilizador %></div>
                    </div>
                    <div>
                        <div class="widget-title">Bilheteira</div>
                        <div class="widget-subtitle">Bilhetes vendidos</div>
                        <div class="widget-int"><%= w.tbilheteira %></div>
                    </div>
                    <div>
                        <div class="widget-title">Bilheteira</div>
                        <div class="widget-subtitle">Receita bilhetes</div>
                        <div class="widget-int"><%= w.sbilheteira %> €</div>
                    </div>
                </div>
                <div class="widget-controls">
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top"
                       title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>


            <!-- END WIDGET SLIDER -->

        </div>

        <div class="col-md-3">
            <div class="widget widget-warning widget-carousel">
                <div class="owl-carousel" id="owl-example">
                    <div>
                        <div class="widget-int num-count"><%= w.tcolaborador %></div>
                        <div class="widget-title">Colaboradores</div>
                        <div class="widget-title">Pagos</div>
                    </div>
                    <div>
                        <div class="widget-int num-count"><%= w.tvoluntario %></div>
                        <div class="widget-title">Colaboradores</div>
                        <div class="widget-title">Voluntario</div>
                    </div>
                </div>
                <div class="widget-controls">
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top"
                       title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>
            <!-- END WIDGET MESSAGES -->
        </div>

        <!-- START WIDGET REGISTRED -->
        <div class="col-md-3">
            <!-- START WIDGET MESSAGES -->
            <div class="widget widget-warning widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-bullhorn"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count"><%= w.tspeaker %></div>
                    <div class="widget-title">Speakers registados</div>
                    <div class="widget-subtitle">No site Workevent</div>
                </div>
                <div class="widget-controls">
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top"
                       title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>
            <!-- END WIDGET MESSAGES -->

        </div>
        <!-- END WIDGET REGISTRED -->
        <% } %>

        <div class="col-md-3">

            <!-- START WIDGET CLOCK -->
            <div class="widget widget-warning widget-padding-sm">
                <div class="widget-big-int plugin-clock">00:00</div>
                <div class="widget-subtitle plugin-date">Loading...</div>
                <div class="widget-controls">
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left"
                       title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
                <div class="widget-buttons widget-c3">
                    <div class="col">
                        <a href="#"><span class="fa fa-clock-o"></span></a>
                    </div>
                    <div class="col">
                        <a href="#"><span class="fa fa-bell"></span></a>
                    </div>
                    <div class="col">
                        <a href="#"><span class="fa fa-calendar"></span></a>
                    </div>
                </div>
            </div>
            <!-- END WIDGET CLOCK -->
        </div>

    </div>
    <!-- END WIDGETS -->

    <div class="row">
        <div class="col-md-4">
                <!-- START VISITORS BLOCK -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>Recursos Humanos</h3>
                            <span> </span>
                        </div>
                        <ul class="panel-controls" style="margin-top: 2px;">
                            <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body padding-0">
                        <div class="chart-holder" id="dashboard-donut-1" style="height: 200px;"></div>
                    </div>
                </div>
                <!-- END VISITORS BLOCK -->
            </div>

        <div class="col-md-4">

            <!-- START VISITORS BLOCK -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Balanço do Evento</h3>
                        <span>Gastos vs Receitas</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li class="dropdown">


                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                        class="fa fa-cog"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span>
                                        Collapse</a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="panel-body padding-0">
                    <div class="chart-holder" id="chartContainer" style="height: 200px;"></div>
                </div>
            </div>
            <!-- END VISITORS BLOCK -->
        </div>

        <div class="col-md-4">

            <!-- START PROJECTS BLOCK -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Sessoes</h3>
                        <span>Bilhetes vendidos</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                        class="fa fa-cog"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span>
                                        Collapse</a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="30%">Dia</th>
                                <th width="20%">Status</th>
                                <th width="50%">Bilhetes Restantes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>
                                <td><span class="label label-danger"></span></td>
                                <td>
                                    <div class="progress progress-small progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar"
                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 85%;">85%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- END PROJECTS BLOCK -->

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <% for (g of graph) {%>
            <!-- START SALES BLOCK -->
            <div class="panel-body padding-0">
                <div class="chart-holder" id="myfirstchart" style="height: 200px;"></div>
            </div>
            <% } %>

            <!-- END SALES BLOCK -->

        </div>


        <div class="col-md-4">

            <!-- START SALES & EVENTS BLOCK -->

            <!-- END SALES & EVENTS BLOCK -->


        </div>

    </div>

</div>


<!-- START DASHBOARD CHART -->




<script>
    window.onload = function() {






        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: ""
            },
            data: [{
                type: "pie",
                startAngle: 25,
                toolTipContent: "<b>{label}</b>: {y}%",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 16,
                indexLabel: "{label} - {y}€",
                dataPoints: [
                    { y: <%= w.spatrocinios %>, label: "Patrocinios" },
                    { y: <%= w.scolaboradores %>, label: "Colaboradores" },
                    { y: <%= w.sspeakers %>, label: "Speakers" },
                    { y: <%= w.sbilheteira %>, label: "Bilheteira" },
                    ]
            }]
        });
        chart.render();

            Morris.Donut({
                element: 'dashboard-donut-1',
                data: [
                    {label: "Utilizadores", value: <%= w.tutilizador %>},
                    {label: "Speaker", value: <%= w.tspeaker %>},
                    {label: "Colaborador Voluntario", value: <%= w.tvoluntario %> },
                    {label: "Colaborador Pago", value: <%= w.tcolaborador %> }
                ],
                colors: ['#1a3daf', '#FEA223', '#db0b0a', '#92af5a'],
                resize: true
            });
        }
    </script>


<!-- END PAGE CONTAINER -->
<% include footerAdmin %>





