<% include headerAdmin %>
<% include navAdmin %>

<!-- <h2><%= (isNew) ? '' : 'Registo de uma nova Sessão ' %></h2> -->
<% for (var e of errors) { %>
<div class="alert alert-danger"><%= e.msg %></div>
<%}%>


<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/sessoes">Home</a></li>
    <li class="active">Sessoes</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> Registo de nova Sessão</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">


    <div class="row">
        <div class="col-md-6">
            <!-- START JQUERY VALIDATION PLUGIN -->
            <div class="block">
                <h4>Modificar dados</h4>
                <form id="jvalidate" role="form" class="form-horizontal" action="/sessoes/<%= (isNew) ? 'create' : sessoes.idSessao %>"   method="post"  name="form">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nome da sessão</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="nome"  placeholder="Nome da Sessão!" value="<%=sessoes.descrissao%>" required  >
                                <span class="help-block">Nome da sessão:</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Data do Workshop:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" readonly value="<%= dadosworkshop.datainicio %>"/>
                            </div>
                        </div>

                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Dia da Sessão:</label>
                                <div class="col-md-9">
                                    <select class="form-control select" name="dia"  placeholder="Dia" value="<%=sessoes.dia%>" required  >
                                        <% for(var i=1; i<dadosworkshop.totaldays+1; i++) { %><tbody>
                                        <option><%= 'Dia ' + i %></option>
                                        </tbody> <%} %>
                                    </select>
                                </div>
                            </div>
                        </form>

                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Sala:</label>
                                <div class="col-md-9">
                                    <select class="form-control select" name="nome"  placeholder="Nome do Speaker!" required >
                                        <% for(var i=0; i<salas.length; i++) { %><tbody>
                                        <option><%= i %></option>
                                        </tbody> <%} %>
                                    </select><span class="help-block">Speaker da sessão</span>
                                </div>
                            </div>
                        </form>

                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Speaker:</label>
                                <div class="col-md-9">
                                    <select class="form-control select" name="nome"  placeholder="Nome do Speaker!" required >
                                    <% for (var s of pspeakers) { %><tbody>
                                    <option><%= s.sname %></option>
                                    </tbody> <%} %>
                                </select><span class="help-block">Speaker da sessão</span>
                            </div>
                        </div>
                        </form>
                        </div>
                        <div class="btn-group pull-right">
                            <a href="/sessoes"><button class="btn btn-primary" type="button">Back</button></a>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                </form>
                </div>
                <!-- END JQUERY VALIDATION PLUGIN -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT -->
<!--</div>-->


<% include footerAdmin %>