<% include headerAdmin %>
<% include navAdmin %>

<!-- <h2><%= (isNew) ? '' : 'Registo de uma nova Sessão ' %></h2> -->
<% for (var e of errors) { %>
<div class="alert alert-danger"><%= e.msg %></div>
<%}%>


<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/sessoes">Home</a></li>
    <li class="active">Sessoes</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> Registo de nova Sessão</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">


    <div class="row">
        <div class="col-md-6">
            <!-- START JQUERY VALIDATION PLUGIN -->
            <div class="block">
                <h4>Modificar dados</h4>
                <form id="jvalidate" role="form" class="form-horizontal" action="/sessoes/<%= (isNew) ? 'create' : sessoes.idSessao %>"   method="post"  name="form">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nome da sessão</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="nome"  placeholder="Nome da Sessão!" value="<%=sessoes.nome%>" required  >
                                <span class="help-block">Nome da sessão:</span>
                            </div>
                        </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Dia da Sessão:</label>
                                <div class="col-md-9">
                                    <select class="form-control select" name="dia" required  >
                                        <% for (var i=1 ; i < dadosworkshop.totaldays + 1 ; i++) { %><tbody>
                                        <option value="<%= i %>"><%= 'Dia ' + i %></option>
                                        </tbody> <%} %>
                                    </select>
                                    <span class="help-block">Dia da sessão:</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Inicio da sessão</label>
                                <div class="col-md-9">
                                    <input type="datetime-local" class="form-control" name="inicio"  placeholder="Inicio da Sessão!" value="<%=sessoes.inicio%>" required  >
                                    <span class="help-block">Hora do inicio da sessão:</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Fim da sessão</label>
                                <div class="col-md-9">
                                    <input type="datetime-local" class="form-control" name="fim"  placeholder="Fim da Sessão!" value="<%=sessoes.fim%>" required  >
                                    <span class="help-block">Hora do fim da sessão:</span>
                                </div>
                            </div>

                        <!-- FALTA ESCOLHER A SALA -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Sala:</label>
                                <div class="col-md-9">
                                    <select class="form-control select" name="sala"  placeholder="Nome do Speaker!" required >
                                        <% for (var t of tsalas) { %><tbody>
                                        <option value="<%= t.idSala %>"><%= t.idSala %></option>
                                        </tbody> <%} %>
                                    </select><span class="help-block">Speaker da sessão</span>
                                </div>
                            </div>    

                            <div class="form-group">
                                <label class="col-md-3 control-label">Speaker:</label>
                                <div class="col-md-9">
                                    <select class="form-control select" name="keyspeaker" required >
                                        <% for (var s of pspeakers) { %><tbody>
                                        <option value="<%= s.iduser%>"><%= s.sname %></option>
                                        </tbody> <%} %>
                                    </select>
                                <span class="help-block">Speaker da sessão</span>
                                </div>
                            </div>
                        </div>

                        <div class="btn-group pull-right">
                            <a href="/sessoes"><button class="btn btn-primary" type="button">Back</button></a>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                </form>
                </div>
                <!-- END JQUERY VALIDATION PLUGIN -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT -->
<!--</div>-->

<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->

<!-- START PRELOADS -->
<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
<!-- END PRELOADS -->

<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
<!-- END PLUGINS -->

<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<script type='text/javascript' src='js/plugins/bootstrap/bootstrap-datepicker.js'></script>
<script type='text/javascript' src='js/plugins/bootstrap/bootstrap-select.js'></script>

<script type='text/javascript' src='js/plugins/validationengine/languages/jquery.validationEngine-en.js'></script>
<script type='text/javascript' src='js/plugins/validationengine/jquery.validationEngine.js'></script>

<script type='text/javascript' src='js/plugins/jquery-validation/jquery.validate.js'></script>

<script type='text/javascript' src='js/plugins/maskedinput/jquery.maskedinput.min.js'></script>
<!-- END THIS PAGE PLUGINS -->

<!-- START TEMPLATE -->
<script type="text/javascript" src="js/settings.js"></script>

<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/actions.js"></script>
<!-- END TEMPLATE -->

<script type="text/javascript">
    var jvalidate = $("#jvalidate").validate({
        ignore: [],
        rules: {
            nome: {
                required: true,
                maxlength: 45
            },
        }
    });

</script>


</body>
</html>