<% include headerAdmin %>
<% include navAdmin %>

<!-- <h2><%= (isNew) ? '' : 'Registo de Novo Speaker ' %></h2> -->
<% for (var e of errors) { %>
<div class="alert alert-danger"><%= e.msg %></div>
<%}%>


<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/speakers">Home</a></li>
    <li class="active">Speakers</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> Registo de novo Speaker</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">


    <div class="row">
        <div class="col-md-6">
            <!-- START JQUERY VALIDATION PLUGIN -->
            <div class="block">
                <h4>Modificar dados</h4>
                <form id="jvalidate" role="form" class="form-horizontal" action="/speakers/<%= (isNew) ? 'create' : speakers.idUser %>"   method="post"  name="form">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nome:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="name"  placeholder="Nome do speaker!" value="<%= speakers.name %>" required  >
                                <span class="help-block">Tamanho minimo = 2, Tamanho maximo = 8</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Email:</label>
                            <div class="col-md-9">
                                <input name="email" class="form-control"  type="text" value="<%= speakers.email %>" required>
                                <span class="help-block">Insira o email </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">NIF:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="nif" value="<%= speakers.nif %>" />
                                <span class="help-block">Insira o nif</span>
                            </div>
                        </div>
						<div class="form-group">
                            <label class="col-md-3 control-label">Telefone:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="telefone" value="<%= speakers.telefone %>" />
                                <span class="help-block">Insira o telefone</span>
                            </div>
                        </div>
						<div class="form-group">
                            <label class="col-md-3 control-label">Cachê:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="salario" placeholder="Insira o valor a pagar ao Speaker" value="<%= speakers.salario %>" />
                                <span class="help-block">Tamanho minimo = 8, Tamanho maximo = 150</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Foto:</label>
                            <div class="col-md-9">
                                <input type="url"  name="photo" class="form-control" value="<%= speakers.photo %>" />
                                <span class="help-block">Link com uma foto do Speaker</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Facebook:</label>
                            <div class="col-md-9">
                                <input type="url"  name="fb" class="form-control" value="<%= speakers.photo %>" />
                                <span class="help-block">Conta do Facebook do Speaker</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Twitter Link:</label>
                            <div class="col-md-9">
                                <input type="url"  name="twitter" class="form-control" value="<%= speakers.photo %>" />
                                <span class="help-block">Conta do Twitter do Speaker</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">LinkedIn Link:</label>
                            <div class="col-md-9">
                                <input type="url"  name="LinkedIn" class="form-control" value="<%= speakers.photo %>" />
                                <span class="help-block">Conta do LinkedIn do Speaker</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Cargo :</label>
                            <div class="col-md-9">
                                <input type="text"  name="Cargo" class="form-control" value="<%= speakers.photo %>" />
                                <span class="help-block">Pequena descrição daquilo que faz</span>
                            </div>
                        </div>
                    </div>
                        <div class="btn-group pull-right">
                            <a href="/speakers"><button class="btn btn-primary" type="button">Back</button></a>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
                <!-- END JQUERY VALIDATION PLUGIN -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>

<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<script type='text/javascript' src='js/plugins/bootstrap/bootstrap-datepicker.js'></script>
<script type='text/javascript' src='js/plugins/bootstrap/bootstrap-select.js'></script>

<script type='text/javascript' src='js/plugins/validationengine/languages/jquery.validationEngine-en.js'></script>
<script type='text/javascript' src='js/plugins/validationengine/jquery.validationEngine.js'></script>

<script type='text/javascript' src='js/plugins/jquery-validation/jquery.validate.js'></script>

<script type='text/javascript' src='js/plugins/maskedinput/jquery.maskedinput.min.js'></script>

<script type="text/javascript">
    var jvalidate = $("#jvalidate").validate({
        ignore: [],
        rules: {
            Patrocinador: {
                required: true,
                minlength: 2,
                maxlength: 45
            },
            montante: {
                number: true,
                min: 1,
                max: 100000
            },
            urllogo: {
                url: true,
                maxlength: 300
            }
        }
    });

</script>

<% include footerAdmin %>