<% include partials/header %>

<body  data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <nav>
                <% for (var w of workshop) { %><tbody>
                <a class="navbar-brand" href="#site-header"><%= w.nome %></a></tbody> <%} %>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#nossaEquipa">A nossa Equipa</a></li>
                <li><a href="#oradores">Oradores</a></li>
                <li><a href="#sessoes">Sessões</a></li>
                <li><a href="#bilhetes">Bilhetes</a></li>
                <li><a href="#parceiros">Parceiros</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#photos">Fotos</a></li>
                <% if (isAuthenticated) { %>
                <li role="presentation"><a href="/profile">Dados do utilizador</a></li>
                <% if (user.type === 'admin') {%>
                <li role="presentation"><a href="/admin">Backend</a></li>
                <% } %>
                <% } %>
                <li role="presentation">
                    <% if (isAuthenticated) { %>
                    <a href="/logout">Logout</a>
                    <% } else { %>

                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header id="site-header" class="site-header parallax"><tbody>
    <% for (var w of workshop) { %>
    <div class="textonaparallax">
        <h1><%= w.nome %></h1>
        <h3><%= w.datainicio %> <br> <%= w.local %></h3>
        <br><% } %>
        <% if (!isAuthenticated) { %>
        <a class="active" data-toggle="tab" href="/login.ejs">
            <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal" >Entrar/Registar Agora</button>
        </a>
        <% } %>
    </div>
</header>

<!-- nozza equipa -->
<div  id="nossaEquipa" class="container textjustifica">
    <div class="col-sm-6">
        <h3>A nossa Equipa</h3>
        <p>Como alunos do curso MiEGSI (Mestrado integrado em Engenharia e Gestão de Sistemas de Informação) da
            Universidade do Minho, levamos uma aboradagem realista do futuro que nos espera. Como tal a <strong>Web
                Security</strong> é uma das problematicas que mais receio e duvida causa nos comuns utilizadores
            de sistemas informaticos bem como nos proprios desenvolvedores de aplicações e websites.</p>

        <br>
        <div class="row text-center">
            <div class="col-sm-4">
                <p class="text-center"><strong>António Guimarães</strong></p>
                <a href="#demo" data-toggle="collapse">
                    <img src="./images/nos/ant.png" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
                <div id="demo" class="collapse">
                    <p>CEO</p>
                    <p>Loves long walks on the beach</p>
                    <p>Member since 1988</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Paulo Andrade</strong></p>
                <a href="#demo2" data-toggle="collapse">
                    <img src="./images/nos/pau.png" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
                <div id="demo2" class="collapse">
                    <p>CFO</p>
                    <p>Loves drummin'</p>
                    <p>Member since 1988</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Rui Marques</strong></p>
                <a href="#demo3" data-toggle="collapse">
                    <img src="./images/nos/rui.png" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
                <div id="demo3" class="collapse">
                    <p>Pleb</p>
                    <p>Loves meth</p>
                    <p>Member since Minecraft came out</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12">
            <h3 class="section-title multiple-title">Qual o nosso objetivo?</h3>
            <p>Dar uma abordagem elucidativa a todos os alunos da Universidade sendo ou não de cursos ligados a
                novas tecnologias, de forma a poder manter as pessoas informadas de todos os novos perigos nos dias
                de hoje. A Web como o comum utilizador conhece parece ser simplista e facil de usar mas nem sempre é
                assim, pessoas mal intencionadas muito facilmente te acesso a dados que deveriam ser privados. </p>
        </div>
        <div class="col-sm-12">
            <ul class="list-arrow">
                <li>Debates sobre novos perigos da WEB &amp; Casos exemplo</li>
                <li>Palestras de oradores de renome.</li>
                <li>Uma linguagem simples e que os alunos possam entender</li>
                <li>Palestras abertas a perguntas e respostas</li>
            </ul>
        </div>
    </div>
</div>

<section id="facts" class="section bg-image-1 facts text-center parallax2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
                <div class="counters-item"><tbody>
                    <% for (var w of workshop) { %>
                    <h5 class="fa fa-users fa-3x"></h5>
                    <h3><%= w.maxbilhetes %><br>Lugares</h3>
                </div>
            </div>
            <div class="col-sm-3">
                <h5 class="ion-ios-location"></h5>
                <h3><%= w.local %></h3>
            </div>
            <div class="col-sm-3">
                <h5 class="ion-pricetags"></h5>
                <h3><%= w.datainicio %><br></h3>
            </div> </tbody> <%} %>
            <div class="col-sm-3">
                <h5 class="ion-speakerphone"></h5>
                <h3>
                    <tbody>
                    <% for (var t of totalspeakers) { %>
                    <td><%= t.tspeakers %></td>
                    <br>Oradores</h3>
                </tbody> <%} %>
            </div>
        </div>
    </div>
</section>

<section id="oradores" class="section speakers ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title text-center">Speakers</h3>
            </div>
        </div>

        <div class="text-center"><% for (var s of dadoss) { %><tbody>
            <div class="row">
                <div class="col-md-4">
                    <div class="speaker">
                        <br>
                        <p class="text-center"><strong><%= s.sname %></strong></p>
                        <img src="<%= s.pspeakers %>" class="img-circle person center " alt="" >
                        <p><%= s.cargo %></p>
                        <p>
                            <a target="_blank" href="<%= s.twitter %>"><i class="ion-social-twitter"></i></a>
                            <a target="_blank" href="<%= s.fb %>"><i class="fa fa-facebook" ></i></a>
                            <a target="_blank" href="<%= s.linkedin %>"><i class="ion-social-linkedin-outline"></i></a>
                            <a target="_blank" href="<%= s.googleplus %>"><i class="ion-social-googleplus"></i></a>
                        </p>
                    </div>
                </div> </tbody> <%} %>
        </div>
    </div>
</section>



<!-- eventus -->
<div id="sessoes" class=" parallax3" >
    <div class="container">
        <h3 class="text-center">Sessões</h3>



        <div class="row text-center"><% for (var e of sessoes) { %>


            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="<%= e.profilepic %>" alt="ssss" width="400" height="300">
                    <p><strong><%= e.cargo %></strong></p>
                    <p><%= e.inicio.toLocaleString() %> - <%= e.nomespeaker %></p>
                    <p><strong><%= e.nome %></strong> - <%= e.descrissao %></p>
                    <% if (!isAuthenticated) { %> <h3 class="panel-title"><a href="/bilheteira"><button class="btn">Comprar Bilhetes</button></a></h3><%} %>
                </div>
            </div><%} %>





          </div><br>
        <div id="bilhetes" class="container"> <br> <h3 class="text-center">Bilhetes
            <ul class="list-group"></h3><% for (var z of bilhetes) { %>
            <% if (z.bilhetesRestantes < 1 ) { %>
            <li class="list-group-item"> <span class="label label-danger">Sold Out!</span>  -
                <strong>                Bilhete  <%= z.dia %>  </strong> - <%= z.preco %> € </a>
                <span class="badge"><%= z.bilhetesVendidos %> comprados / <%= z.bilhetesRestantes %> disponiveis</span>
            </li>
            <% } else { %>
            <li class="list-group-item"> <strong><span class="label label-info">Compra já!</span> -
                <% if (isAuthenticated) { %> <span id="<%= z %>" style="cursor:alias;" onclick="makesomsmoke(this);window.open('https://www.paypal.com/cgi-bin/webscr?&amp;cmd=_xclick&amp;business=paulo-andrade@sapo.pt&amp;currency_code=EUR&amp;amount=<%= z.preco %>&amp;item_name=Pagamento de bilhete de <%= z.dia %> por parte de <%= user.name %>')
   ">


                  <%} %>
                      Bilhete  <%= z.dia %>  </strong> - <%= z.preco %> € </span>
                <% if (isAuthenticated) { %>
                <script>
                    function makesomsmoke(){
                    $(this).on('click', function() {
                        $.ajax({
                            type: 'POST',
                            url: '/buy',
                            data: { bilhete: '<%= z.dia %>',
                            preco:'<%= z.preco %>',
                                user: '<%= user.username %>'
                            },
                            success: function() {
                                alert('ok');
                            }
                        });
                    });}
                </script><%} %>
                <span id="<%= z.dia %>" class="badge"><%= z.bilhetesVendidos %>  comprados / <%= z.bilhetesRestantes %> disponiveis</span>
            </li>            <%} %>


        </ul><%} %></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content">
            <% if (isAuthenticated) { %>
            <% include bilheteira %>
            <% } else { %>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4><span class="glyphicon glyphicon-lock"></span> Login/Registo</h4>
            </div>
            <div class="modal-body hideoverflow">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
                    <li><a data-toggle="tab" href="#registar">Registar</a></li>
                </ul>
                <div class="tab-content hideoverflow">
                    <div id="login" class="tab-pane fade in active">

                        <% include login %>

                    </div >
                    <div id="registar" class="tab-pane fade hideoverflow">
                        <% include users-item %>
                    </div>
                </div>
            </div>   <% } %>

        </div>
    </div>
</div>

<!-- SPONSORS -->

<section id="partner" class="section partner">
    <div id="parceiros" class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title text-center">Parceiros</h3>
            </div>
        </div>
        <div class="partner partner"><% for (var s of sponsor) { %><tbody>
            <div class="row">
                <div class="col-sm-3">
                    <img style="height: 80px; width:auto" src="<%= s.urllogo %>" class="partner-box" alt="" >
                </div></tbody> <%} %>
        </div>
    </div>
    </div>
</section>


<!-- FAQ -->
<section id="faq" class="section faq parallax4" >
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title text-center">Questões Frequentes</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                   aria-controls="collapseOne"> Qual o preço do Bilhete ?</a>
                            </h4>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <h3>Veja Bilhetes na secção das Sessões</h3>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                   aria-controls="collapseTwo"> O que esta incluido no bilhete ?</a>
                            </h4>
                        </div>

                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">Na compra do bilhete é dado acesso a todos os eventos a decorer
                                dentro do Workshop e ainda oferta de uma tshirt.
                            </div>


                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                   aria-controls="collapseThree"> Direçoes para o evento ?</a>
                            </h4>
                        </div>

                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.899751238266!2d-8.424576084125098!3d41.549767779249535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24e87650169dfd%3A0x46276da956d09542!2sTheatro+Circo+de+Braga!5e0!3m2!1spt-PT!2spt!4v1509312455573" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                   aria-controls="collapseFour"> Posso cancelar o meu bilhete ?</a>
                            </h4>
                        </div>

                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFour">
                            <div class="panel-body">O cancelamento do bilhete terá de ser ser feito presencialmente
                                junto da bilheteira.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                   aria-controls="collapseFive"> É possivel comprar pack de bilhetes ?</a>
                            </h4>
                        </div>

                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFive">
                            <div class="panel-body">Sim na pagina de compra poderá adquerir mais que um bilhete.</div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                                   aria-controls="collapseSix"> Contactos ?</a>
                            </h4>
                        </div>

                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingSix">
                            <div class="panel-body">
                                <!-- Container (Contact Section) -->
                                <div id="contact" class="container">
                                    <div class="col-md-11">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required="">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required="">
                                            </div>
                                        </div>
                                        <textarea class="form-control" id="comments" name="comments" placeholder="Mensagem" rows="5"></textarea>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <button class="btn pull-right" type="submit">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>








<section id="photos" class="section photos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title text-center">Photos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="grid">

                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block" src="./images/photos/photos-1.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="./images/photos/photos-2.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="./images/photos/photos-3.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="./images/photos/photos-5.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="./images/photos/photos-6.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="./images/photos/photos-7.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="./images/photos/photos-8.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="./images/photos/photos-2.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="./images/photos/photos-3.jpg">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<% include partials/footer %>